<ion-view title="Account" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/oyIYssw9SV6PUWg8n62c_bc_road_builders_heavy_construction_association_103551.jpg" width="60" height="auto" style="display:block;">
        </div>
        <h3 id="account-heading8" style="color:#F9BF3B;font-weight:300;" class=" ">Nurudeen RoadWorks</h3>
        <p id="account-markdown6" style="color:#000000;" class=" ">Bancroft Construction Company is a full service Construction Management, General Contracting, Design-Build, and Program Management firm serving the Mid-Atlantic United States including Delaware, Maryland, New Jersey, and Pennsylvania. Bancroft
            specializes i</p>
        <form id="account-form11" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="account-toggle3" class=" ">Toggle</ion-toggle>
        </form>
        <ion-list id="account-list10" class=" ">
            <ion-item id="account-list-item30" class="  ">Item 1</ion-item>
            <ion-item id="account-list-item31" class="  ">Item 2</ion-item>
            <ion-item id="account-list-item32" class="  ">Item 3</ion-item>
        </ion-list>
        <button id="account-button24" class=" button button-energized  button-block ">Tap me!</button>
    </ion-content>
</ion-view>