<ion-view title="Bid Status" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-ios-location ">New Castle County</i>
                </div>

                <div class="item item-body">
                    <i class="balanced icon ion-android-checkbox-outline">Bid Accepted</i>
                    <br>

                </div>

            </div>

        </div>
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-ios-location">New Castle County</i>
                </div>

                <div class="item item-body">
                    <i class="icon ion-android-checkbox-outline-blank ">Bid Pending</i>
                    <br>

                </div>

            </div>

        </div>
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-close-round">New Castle County</i>
                </div>

                <div class="item item-body">
                    <i class="icon energized ion-close-round">Bid Denied</i>
                    <br>

                </div>

            </div>

            <!--</div>-->
        </div>
    </ion-content>
</ion-view>