<ion-view title="Marketplace" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/CB0ZFBZSRrOf1QgUwxyJ_Untitled Diagram.png" width="60" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="marketplace-heading1" style="color:#81CFE0;font-weight:300;" class=" ">Ready to Bid</h3>
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-ios-location">New Castle County</i>
                </div>

                <div class="item item-body">


                </div>

            </div>
        </div>
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-ios-location">New Castle County</i>
                </div>

                <div class="item item-body">


                </div>

            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <h4 id="marketplace-heading3" style="color:#F9BF3B;font-weight:300;" class=" ">Additional Steps required to bid</h4>
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-ios-location">New Castle County</i>
                </div>

                <div class="item item-body">


                </div>

            </div>
        </div>
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-ios-location">New Castle County</i>
                </div>

                <div class="item item-body">


                </div>

            </div>
        </div>
        <div>
            <div class="list card">

                <div class="item item-avatar item-thumbnail">
                    <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                    <h2>St. Georges Streetscape Improvements Phase II</h2>
                    <p>Deldot</p>
                    <i class="icon ion-ios-location">New Castle County</i>
                </div>

                <div class="item item-body">


                </div>

            </div>
        </div>
    </ion-content>
</ion-view>