<ion-view title="Place Bid" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="placeBid-form7" class="list ">
            <ion-list id="placeBid-list4" class=" ">
                <label class="item item-input " id="placeBid-input10">
                    <span class="input-label">Nurudeen's Road Works</span>
                    <input type="text" placeholder="Contractor">
                </label>
                <label class="item item-input " id="placeBid-input12">
                    <span class="input-label">free.99</span>
                    <input type="text" placeholder="Rate">
                </label>
            </ion-list>
            <h1 id="placeBid-heading4" style="color:#F9BF3B;font-weight:400;" class=" ">Proposal</h1>
            <p id="placeBid-markdown3" style="color:#000000;" class=" ">The specifications entitled "Delaware Standard Specifications for Road and Bridge Construction, August, 2001", hereinafter referred to as the Standard Specifications; Supplemental Standard Specifications; the Special Provisions; notes on the
                Plans; this Bid Proposal; and any addenda thereto, shall govern the work to be performed under this contract</p>
            <button id="placeBid-button21" class=" button button-energized  button-block button-outline ">Upload Rescources</button>
            <ion-list id="placeBid-list8" class=" ">
                <ion-item id="placeBid-list-item27" class="  ">Permits</ion-item>
                <ion-item id="placeBid-list-item28" class="  ">History</ion-item>
                <ion-item id="placeBid-list-item29" class="  ">Security clearance</ion-item>
            </ion-list>
            <h3 id="placeBid-heading5" style="color:#81CFE0;font-weight:300;" class=" ">Experience</h3>
            <ion-item class="range range-balanced " id="placeBid-range1">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <h3 id="placeBid-heading6" style="color:#81CFE0;font-weight:300;" class=" ">Service</h3>
            <ion-item class="range range-balanced " id="placeBid-range2">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <h3 id="placeBid-heading7" style="color:#81CFE0;font-weight:300;" class=" ">Ratings</h3>
            <div>
                <div class="list card">

                    <div class="item item-avatar item-thumbnail">
                        <img style="border-radius:0px" src="https://upload.wikimedia.org/wikipedia/en/thumb/2/28/DelDOT.svg/1024px-DelDOT.svg.png">
                        <h2>St. Georges Streetscape Improvements Phase II</h2>
                        <p>Deldot</p>
                    </div>

                    <div class="item item-body">
                        <i class="icon ion-ios-star energized "></i>
                        <i class="icon ion-ios-star energized "></i>
                        <i class="icon ion-ios-star energized "></i>
                        <i class="icon ion-ios-star energized "></i>
                        <br>We hired Glidden Construction to replace our wooden lintels above our bedroom windows with cement ones. Lloyd and Eirini were great at communicating with us and keeping us informed on the progress with the project.

                    </div>
                </div>
            </div>
            <a ui-sref="menu.bidStatus" id="placeBid-button18" class=" button button-balanced  button-block ">Place Bid</a>
        </form>
    </ion-content>
</ion-view>