<ion-view title="Signup" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form4" class="list ">
            <div id="signup-button-bar4" class=" button-bar ">
                <button id="signup-button14" class=" button button-energized  button-block button-outline icon ion-social-facebook "></button>
                <button id="signup-button15" class=" button button-energized  button-block icon ion-social-linkedin-outline "></button>
                <button id="signup-button16" class=" button button-energized  button-block button-outline icon ion-social-twitter "></button>
            </div>
            <ion-list id="signup-list1" class=" ">
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input8">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
        </form>
        <form id="signup-form5" class="list ">
            <label class="item item-input " id="signup-textarea1">
                <span class="input-label">Address</span><textarea placeholder=""></textarea>
            </label>
            <ion-radio id="signup-radio2" class=" ">Industry</ion-radio>
            <label class="item item-input " id="signup-input9">
                <span class="input-label">Contact info</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="signup-button10" style="color:#FFF;" class=" button button-energized  button-block ">Sign up</button>
    </ion-content>
</ion-view>