<ion-view title="splash/signin" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="logo padding">
            <img src="img/JVrWEES3SheqjFBgMthC_Untitled Diagram.png" width="100%" height="auto" style="display:block;">
        </div>
        <form id="splashSignin-form3" class="list ">
            <label class="item item-input padding" id="splashSignin-input4">
                <input type="email" placeholder="email">
            </label>
            <label class="item item-input padding" id="splashSignin-input5">
                <input type="password" placeholder="Password">
            </label>
        </form>
        <div id="splashSignin-button-bar2" class=" button-bar ">
            <button id="splashSignin-button8" style="color:#;" class=" button button-energized  button-block ">Login</button>
            <button id="splashSignin-button9" style="color:#F9BF3B;" class=" button button-energized  button-block button-outline ">Signup</button>
        </div>
        <div class="">
            <img src="img/9lBAHINRoiyjyjpgHMKv_dealware seal.png" width="70" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>